@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    max-width: 1920px;
    font-family: Montserrat-Regular, sans-serif;
}

#container {
    min-height: 100%;
}

header {
    background-color: black;
    position: fixed;
    opacity: 0.8;
    height: 5vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
}

#illusiveheader {
    color: white;
    font-weight: bolder;
}

#fitnessheader {
    color: red;
    font-weight: lighter;
    font-size: smaller;
}

#support {
    color: white;
    position: relative;
    font-weight: lighter;
    top: -3vh;
    width: 5%;
    left: 80vw;
}

footer {
    position: relative;
    background-color: black;
    top: 10px;
    color: white;
    width: 100%;
    height: 3vh;
    clear:both;
}

#footertext {
    color: white;
}

#muscles {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: auto;
    padding-bottom: 140px;
}

#background {
    position: absolute;
    top: 1%;
    right: 8.5%;
    width: 80vw;
}

#front-trap-a {
    position: absolute;
    width: 3%;
    top: 22.5%;
    right: 65%;
    opacity: 0;
}

#front-trap-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#front-trap-b {
    position: absolute;
    width: 3%;
    top: 22.5%;
    right: 61.1%;
    opacity: 0;
}

#front-trap-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#front-delt-a {
    position: absolute;
    width: 4.5%;
    top: 27.3%;
    right: 67.1%;
    opacity: 0;
}

#front-delt-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#front-delt-b {
    position: absolute;
    width: 4.5%;
    top: 27.4%;
    right: 57.3%;
    opacity: 0;
}

#front-delt-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#pecs {
    position: absolute;
    width: 10.5%;
    top: 28.5%;
    right: 59.2%;
    opacity: 0;
}

#pecs:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#left-bicep {
    position: absolute;
    width: 3.3%;
    top: 34.7%;
    right: 69.2%;
    opacity: 0;
}

#left-bicep:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#right-bicep {
    position: absolute;
    width: 3.3%;
    top: 34.7%;
    right: 56.4%;
    opacity: 0;
}

#right-bicep:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#front-forearm-a {
    position: absolute;
    width: 5.5%;
    top: 43%;
    right: 70.45%;
    opacity: 0;
}

#front-forearm-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#front-forearm-b {
    position: absolute;
    width: 5.5%;
    top: 43%;
    right: 53.05%;
    opacity: 0;
}

#front-forearm-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#obliques {
    position: absolute;
    width: 5.2%;
    top: 36.9%;
    right: 62%;
    opacity: 0;
}

#obliques:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#left-quad {
    position: absolute;
    width: 5.3%;
    top: 53.7%;
    right: 65%;
    opacity: 0;
}

#left-quad:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#right-quad {
    position: absolute;
    width: 5.3%;
    top: 53.7%;
    right: 58.65%;
    opacity: 0;
}

#right-quad:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#front-calf-a {
    position: absolute;
    width: 3.8%;
    top: 81.7%;
    right: 66.8%;
    opacity: 0;
}

#front-calf-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#front-calf-b {
    position: absolute;
    width: 3.8%;
    top: 81.7%;
    right: 58.32%;
    opacity: 0;
}

#front-calf-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-trap-a {
    position: absolute;
    width: 6%;
    top: 20.2%;
    right: 29.05%;
    opacity: 0;
}

#back-trap-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-trap-b {
    position: absolute;
    width: 6.5%;
    top: 23.5%;
    right: 28.75%;
    opacity: 0;
}

#back-trap-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#left-lats {
    position: absolute;
    width: 4.8%;
    top: 34.5%;
    right: 32.2%;
    opacity: 0;
}

#left-lats:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#right-lats {
    position: absolute;
    width: 4.8%;
    top: 34.5%;
    right: 26.95%;
    opacity: 0;
}

#right-lats:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-delt-a {
    position: absolute;
    width: 4.5%;
    top: 25.2%;
    right: 35.05%;
    opacity: 0;
}

#back-delt-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-delt-b {
    position: absolute;
    width: 4.5%;
    top: 25.25%;
    right: 24.45%;
    opacity: 0;
}

#back-delt-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#left-tricep {
    position: absolute;
    width: 3.7%;
    top: 32%;
    right: 37%;
    opacity: 0;
}

#left-tricep:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#right-tricep {
    position: absolute;
    width: 3.7%;
    top: 32%;
    right: 23.25%;
    opacity: 0;
}

#right-tricep:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-forearm-a {
    position: absolute;
    width: 5.2%;
    top: 43.2%;
    right: 38.85%;
    opacity: 0;
}

#back-forearm-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-forearm-b {
    position: absolute;
    width: 5.2%;
    top: 43.2%;
    right: 19.95%;
    opacity: 0;
}

#back-forearm-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#glutes {
    position: absolute;
    width: 9.8%;
    top: 52.2%;
    right: 27.08%;
    opacity: 0;
}

#glutes:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#left-hamstring {
    position: absolute;
    width: 5.4%;
    top: 60.3%;
    right: 32.4%;
    opacity: 0;
}

#left-hamstring:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#right-hamstring {
    position: absolute;
    width: 5.4%;
    top: 60.45%;
    right: 26.15%;
    opacity: 0;
}

#right-hamstring:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-calf-a {
    position: absolute;
    width: 3.8%;
    top: 81.6%;
    right: 35.4%;
    opacity: 0;
}

#back-calf-a:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#back-calf-b {
    position: absolute;
    width: 3.8%;
    top: 81.6%;
    right: 24.8%;
    opacity: 0;
}

#back-calf-b:hover {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

/* The Popup (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Popup Content */
  .popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup-header {
    padding: 2px 16px;
    background-color: #000000;
    opacity: 0.8;
    color: white;
  }
  
  .popup-body {padding: 2px 16px;}
  
  .popup-footer {
    padding: 2px 16px;
    background-color: #000000;
    opacity: 0.8;
    color: white;
  }

  a {
      text-decoration: none;
  }

  a:visited {
      color: blue;
  }
